<!DOCTYPE html>
<html lang="en">

	<head>
  		<meta charset="UTF-8">

  		<title>Eat Da Burger!</title>

  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<link rel="stylesheet" type="text/css" href="assets/css/burger_style.css">
	</head>

	<body>
		<div class="container">
			<!-- Header -->
			<div class="row">
				<div class="col-sm-12">
					<img src="/assets/img/burger.jpeg" class="center-block img-responsive" alt="burger">
					<h1 class="text-center">Eat-Da-Burger!</h1>
				</div>
			</div>
		</div>
		
  		{{{ body }}}
	</body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="assets/js/app.js"></script>
</html>